*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 90px;
    background-color: #1A5319;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav-logo{
    height: 60px;
    width: 200px;
}
.logo{
    background-image: url(kisan.jpg);
    background-size: cover;
    height: 60px;
    width: 100%;
}
.search-container {
    position: relative;
    width: fit-content;
  }
  
  .search-box {
    padding-right: 30px; /* Adjust this padding to fit the image */
    height: 40px;
    width: 250px; /* Adjust based on the required size */
    border-radius: 5px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px; /* Adjust based on padding of search-box */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust based on image size */
    height: 20px; /* Adjust based on image size */
  }
  

.border{
    border: 1.5px solid transparent;
    border-radius: 5px;
}
.border:hover{
    border: 1.5px solid white;
}

.hero-section{
    height: 350px;
    background-size: cover;
    background-image: url(big.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    background-color:  #80AF81;
}


.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e2e6;
}

.box{
    height: 370px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

@media (max-width: 768px) {
    .box {
        flex: 1 1 100%; /* On smaller screens, each box will take full width */
    }
}
