* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A5319;
    padding: 10px 20px;
}

.logo a img {
    height: 50px;
    width: auto;
}

.auth-buttons {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.auth-buttons .dropdown .dropdown-content {
    right: 0;
}

.container{
    background: #f9f9f9;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.container1 {
    display: flex;
    height: 50vh;
    /* Full viewport height */
}

.left-half, .right-half {
    width: 50%; /* Split the page in half */
}

.left-half {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    padding-top: 10px;
}

.right-half {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.left-half p {
    font-size: 1.2rem;       /* Set the font size */
    line-height: 1.5;        /* Adjust line height for better readability */
    color: #333;             /* Set text color */
    text-align: center;      /* Center the text horizontally */
    padding: 10px;           /* Add padding around the paragraph */
    margin: 0;               /* Remove default margin */
    background-color: #ffffff; /* Optional: background color for contrast */
    border-radius: 10px;     /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}
.custom-image {
    max-width: 50%;  /* Reduces the image to 50% of its container's width */
    height: 50%;    /* Keeps the aspect ratio intact */
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* Responsive */
@media screen and (max-width: 768px) {
    .auth-buttons {
        flex-direction: column;
        align-items: flex-end;
    }

    button {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}
